/* !!!!!!!!!!!!!!!!!!!! this is an css main app fille !!!!!!!!!!!!!!! */

/* 
    in this fille we wille use a css style as aintegetor with bootstrap framework and in start of any componet or any page we will seperate with 
                    {============================}

*/

/* ======================= Global design codes ===================== */

/* 
    in Global design codes we make any rebeted codes or any code will use it in our website

*/
::selection {
  background-color: black !important;
  color: #fff !important;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

:root {
  --bg: #f2f2f6;
  --but: #96ae00;
  --blu: #2d2c6e;
  --wit: #fff;
}

body {
  font-family: "Jost", sans-serif;
}

.jost {
  font-family: "Jost", sans-serif;
}

.quicksand {
  font-family: "Quicksand", sans-serif;
}

.schoolbell {
  font-family: "Schoolbell", cursive;
}

/* =========================== Header component STYLE ==================== */
/*
    in this section we will make additonal
     styles to the Header component section 

*/
.header {
  z-index: 500000;
  width: 100vw;
}
.navbar .header_buttoms button {
  /* padding: 10px; */
  border-radius: 50% !important;
  width: 45px;
  height: 45px;
}
.navbar button a {
  color: var(--blu);
}
.navbar button .numofproduct {
  color: var(--blu);
  padding: 0px 6px;
  font-size: 15px;
  top: 0px;
  right: 0px;
}
.navbar ul li a {
  color: var(--blu) !important;
  font-weight: 600;
  margin-top: 10px !important;
}
.fa-chevron-down {
  font-size: 12px;
}
.navbar ul li.dropdown {
  height: 100% !important;
  position: relative;
}
.navbar ul li.dropdown::before {
  height: 300% !important;
  width: 100%;
  content: "";
  position: absolute;
}
.navbar ul li.dropdown:hover ul {
  display: block;
}
.navbar .dropdown ul {
  list-style: none;
  border-top: 2px solid var(--but);
  width: 200px;
  height: auto;
  background-color: #fff;
  box-shadow: 1px 1px 5px 5px var(--bg);
  display: none;
}
.navbar .dropdown ul li:hover {
  transform: translateX(8px);
}
.navbar ul li a:hover {
  color: var(--but) !important;
}

/* ========================= header_side component ================= */

/* 
    to make the nav bar for small screan 
*/

.offcanvas-header {
  background-color: var(--but);
}
.offcanvas-body {
  background-color: var(--blu);
}
.offcanvas-body .headerlink {
  text-decoration: none;
}
.offcanvas-body .fa-search {
  top: 155px;
  right: 38px;
  font-size: 18px;
  color: var(--blu);
}
.offcanvas-body input {
  border-radius: 8px;
}
.offcanvas-body button {
  border-radius: 8px;
  color: var(--blu);
  font-weight: bold;
  text-decoration: none;
}
.offcanvas-body button a {
  text-decoration: none;
}
.offcanvas-body button.Sign {
  background-color: var(--but) !important;
  color: #fff;
}
.offcanvas-body ul {
  list-style: none;
  margin-left: -19px;
}

/* =========================== ERROR PAGE STYLE ==================== */
/*
    in this section we will make additonal
     styles to the error page section 

*/
.error_img img {
  width: 500px;
  margin: auto;
}

/* =========================== FOOTER COMPONENT STYLE ==================== */

.Footer {
  background-color: var(--blu);
  min-height: 60vh !important;
  height: auto !important;
  position: relative;
}
.footerbackground {
  background-color: var(--blu);
  height: 100% !important;
  width: 100vw;
  position: absolute;
  height: auto !important;
}

.Footer .top_section p {
  font-size: 12px;
  margin-top: -5px;
}
.top_section .part img:hover {
  animation: puse 0.81s infinite ease-in-out;
}
@keyframes puse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1.2);
  }
}
.Footer::before {
  background-image: url(../public/assets/footerimg.svg);
  width: 100vw !important;
  height: 100% !important;
  content: "";
  position: absolute;
  top: -30px;
  background-size: cover;
  z-index: 0;
}

.Footer p.emailp {
  color: rgba(242, 242, 246, 0.731);
  line-height: 22px;
}
.Footer p span {
  color: var(--but);
}
input:focus {
  outline: none !important;
}
.Footer .medium_section input {
  width: 85%;
}
.Footer .medium_section button {
  background-color: var(--but);
  color: #fff;
  height: 46px;
  position: absolute;
  right: 5px;
  top: 5px;
  border-radius: 5px !important;
  width: 100px;
}
.social_media {
  margin-top: -6px;
  font-size: 18px;
}

/* ========================= Register and login page  ================= */

/* 
    to create an account and to sin in in the website 
*/

.register_container form {
  background-color: var(--bg);
  color: var(--blu);
  width: 500px;
}

@media (max-width: 600px) {
  .register_container form {
    width: 100% !important;
  }
  .register_container .formcontiner {
    padding-inline: 20px !important;
  }
  .register_container form {
    padding-inline: 20px !important;
    padding-block: 40px !important;
  }
}

.register_container button {
  background-color: var(--blu);
}
.register_container button:hover {
  background-color: var(--but);
}
.p_of_register {
  font-size: 14px;
}
.register_container form .fa {
  width: 55px;
  height: 55px;
  background-color: var(--wit);
  border-radius: 5px;
  text-align: center;
  padding-top: 16px;
  position: absolute;
  font-size: 25px !important;
}
.register_container form input {
  padding-left: 62px !important;
}
.logindirection a {
  color: var(--but);
  text-decoration: none;
  padding: 0 !important;
  margin: 0 !important;
  text-align: center !important;
}
.user_page_icon img {
  width: 100px;
  border-radius: 300px;
}

/* ============================ USER PAGE ====================== */

.user_page_icon {
  position: static !important;
  width: 70px !important;
  font-size: 70px !important;
  height: 100px;
}

.user_page_icon .fa-user {
  width: 120px !important;
  height: 120px !important;
  position: static !important;
  border-radius: 5000px !important;
}

/* ============================= Main component ================= */
.carousel1,
.main_component {
  background: linear-gradient(to top, var(--bg), var(--wit));
}
.carousel-item1 {
  height: auto !important;
  padding-bottom: 130px !important;
  background: linear-gradient(to top, var(--bg), var(--wit));
}

.slide1_text p {
  color: var(--but);
}
.mainp {
  color: var(--blu) !important;
}
.slide1_text p.pe-5 {
  color: var(--blu);
}
h1.main_header {
  font-size: 3rem !important;
  color: var(--blu) !important;
}
.slide_button {
  width: 150px;
  background-color: var(--but);
  height: 50px;
  color: var(--wit);
  position: absolute !important;
  z-index: 200;
}
.slide_button:hover {
  background-color: var(--blu) !important;
}

/* ============================= store start ====================== */

/* 
    in this section we will desgin the product or stor section or component 

*/
.store {
  background-color: var(--bg);
}
.categores .box {
  width: 151px;
  font-family: "Quicksand", sans-serif;
}
.categores .img {
  border-radius: 151px;
  position: relative;
}
.product_continer .product .card .imge2 {
  width: 0;
  /* transition: 0.5s; */
}
.product_continer .product .card:hover .imge2 {
  width: 100%;
}
.product_continer .product .card:hover .imge1 {
  width: 0;
}
.discound {
  background-color: #12b7ce;
  top: 10px;
  left: 10px;
  width: 30px;
  height: 18px;
  font-size: 12px;
  text-align: center;
  color: var(--wit);
}
.procucticons {
  right: 15px;
  top: 30px;
  width: 30px;
  height: 150px;
}
.procucticons i {
  width: 25px;
  height: 25px;
  border-radius: 100px;
  font-size: 12px;
  border: 0.5px solid rgb(185, 184, 184);
  padding: 5px;
  background-color: var(--wit);
  display: none;
}
.procucticons i:hover {
  background-color: var(--but);
  color: var(--wit);
}

.product_continer .product .card:hover .procucticons i {
  display: block;
}
.product_continer .product .card:hover .procucticons.procucticons3 i {
  display: none;
}
.product_category {
  font-size: 13px;
  color: var(--blu);
}
h6.card-title {
  color: var(--blu);
  margin-top: -12px;
  font-size: 14px;
  font-weight: 500;
}
.hotproduct {
  background-color: rgb(248, 201, 201);
  top: 0px;
  left: 40px;
  font-weight: 600;
}
.rating i {
  color: goldenrod;
  padding: 3px;
}
.product_prices span {
  font-size: 14px !important;
  font-weight: 3400 !important;
  text-decoration: line-through;
  color: black !important;
}
button.go_to_card_button {
  background-color: var(--but);
  padding-inline: 25px;
  padding-block: 4px;
  border-radius: 18px;
  color: var(--wit);
  font-size: 14px;
  font-weight: 500;
  display: none;
}
.go_to_card_button:hover {
  background-color: #718203;
}
.product_continer .product .card:hover button.go_to_card_button {
  display: block !important;
}

.product_describtion {
  list-style: square;
  color: #909093;
  font-size: 13px;
  margin-left: -9px;
}
.icon3 {
  color: #909093;
  font-size: 14px;
}
.go_to_card_button.go_to_card_button3 {
  padding-inline: 50px !important;
  padding-block: 8px !important;
}
.productstyle3data {
  border-left: 1px solid #e2e2e6;
  margin-top: 30px !important;
  padding-top: 10px;
}

.showfilter p {
  font-size: 14px;
  color: #2d2c6e;
}
.showfilter .buttons button a {
  font-size: 14px;
  color: #bcbcbe;
}
.category_slider .box {
  height: 160px;
  width: 125px !important;
}
.category_slider .box img {
  width: 75px !important;
  border-radius: 500px !important;
}
.category_slider .box h5 {
  font-size: 14px !important;
  color: var(--blu);
}

@media (max-width: 770px) {
  .productstyle3data {
    border-left: 0px;
    margin-top: -25px !important;
  }
  .productstyle3data .product_prices {
    margin-left: 0 !important;
    padding-left: 20px !important;
  }
}

/* ====================== home page start ===================== */
.home_page {
  background-color: var(--bg);
}

.category_slider .box {
  width: 90% !important;
}

/* --------------------all product slider --------------- */

button.slick-arrow::before {
  width: 100%;
  height: 100%;
  font-size: 50px;
  color: #97ae0046;
  display: none;
}

/* ============================== Drink section component =============== */

.dring_img img:hover {
  transform: translateY(-8px);
}
.schoolbell_text {
  color: var(--but);
}
.quicksand-text {
  color: var(--blu);
  font-weight: 600;
  font-size: 35px;
}
.quicksand-text span {
  color: var(--but);
}
.subtitle {
  font-size: 13px;
  color: var(--blu);
  padding-right: 96px !important;
}
.data_title {
  font-size: 13px;
  color: var(--blu);
}
.data_title span {
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  border-bottom: 1px dashed #2d2c6e3e;
}
.button_text .button {
  width: 190px;
  height: 40px;
  text-align: center;
  background-color: var(--but);
  border-radius: 20px;
  padding-top: 7px;
  margin-top: 40px;
  color: var(--wit);
  text-transform: capitalize;
  font-weight: 500;
}
.button_text .button.add-to-cart {
  background-color: var(--blu);
}
.button_text .button:hover {
  background-color: #718203;
}

/* ====================== section of product by category fillter ========== */

.category_name {
  color: var(--blu);
  cursor: pointer;
}

/* ===================== Biner_section_2==================== */
.Biner_section_2 {
  background: url(/public/assets/imges/binersection2.png);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 85vh;
}
.Biner_section_2_continer {
  padding-top: 100px !important;
}
.salle_time h2 span {
  font-size: 14px;
}
.salle_time h2 {
  font-size: 60px !important;
}
.time-buttons button {
  width: 180px;
  height: 50px;
  border-radius: 30px;
  margin-right: 20px;
  border: 0 !important;
  color: var(--wit);
}
.time-buttons button.time-button1 {
  background-color: var(--but) !important;
  color: var(--wit);
}
.time-buttons button.time-button1:hover {
  background-color: var(--wit) !important;
  color: var(--but);
}
.time-buttons button.time-button2 {
  background-color: var(--wit) !important;
  color: var(--but);
}
.time-buttons button.time-button1:hover {
  background-color: var(--but) !important;
  color: var(--wit);
}

/* =========================== bloge or articles ================ */
.article_card {
  width: 96% !important;
}
.all_articles .article_card {
  width: 102% !important;
}
.card-img-top1 {
  overflow: hidden;
}
.card-img-top1 img {
  width: 100%;
  height: 100%;
  transition: 2s;
}
.article_card:hover img {
  transform: scale(1.2) !important;
}

.schoolbell {
  color: var(--but);
}
.blog_title h2 {
  color: var(--blu);
  margin-top: -3px;
}
.blog_title .dis {
  color: var(--blu);
  font-size: 14px !important;
}
.article_pdata {
  font-size: 13px;
  color: var(--blu);
  font-weight: medium;
}
.article_pdata span:hover {
  color: var(--but);
}
.article_pdata span.article_category {
  color: var(--but);
}
.article_card .card-title {
  font-size: 15px;
  color: var(--blu);
}
.article_card .card-text {
  font-size: 15px;
  color: var(--blu);
}
.article_button {
  color: var(--but);
}
.article_button:hover {
  color: var(--blu);
}
.card-body2 {
  z-index: 50;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}
.bolges_body .side_bar {
  border-right: 1px dashed #2d2c6e31;
}
@media (max-width: 992px) {
  .bolges_body .side_bar {
    border: none;
  }
}

input.search_blog {
  background-color: #2d2c6e0c !important;
  outline: none !important;
  border: 1px solid #ddd !important;
}
form.form_blog {
  border-bottom: 1px dashed #2d2c6e18;
  padding-bottom: 30px;
}
.blog_filter_categores {
  padding-top: 10px;
  padding-bottom: 30px;
  border-bottom: 1px dashed #2d2c6e18;
}
.tags {
  font-size: 18px;
  color: var(--blu);
}
.blog_filter_categores button {
  background-color: #2d2c6e0c;
  color: var(--blu);
}
.blog_filter_categores button:hover {
  background-color: var(--but) !important;
  color: var(--wit) !important;
}
.recent_blogs {
  padding-top: 15px;
  cursor: pointer;
}
.recent_blogs .image {
  border-radius: 500% !important;
  width: 80px;
  height: 80px;
  overflow: hidden;
}
.recent_blogs .image img {
  width: 80px;
  height: 80px;
  border-radius: 500% !important;
  transform: translateX(-11px);
}
.recent_blogs .title h2 {
  font-size: 15px;
  padding-top: 10px;
  color: var(--blu);
}
.recent_blogs .title p {
  color: #909093;
  font-size: 14px;
}
.no_articles {
  color: var(--blu);
}
.article_blog_text {
  transform: translateY(-8vh);
}

@media (max-width: 1150px) {
  .comments .container {
    width: 70% !important;
  }
}
@media (max-width: 768px) {
  .article_blog_text {
    transform: translateY(0vh);
  }
  .comments .container {
    width: 100% !important;
  }
}
.article-title {
  color: var(--blu);
}
.article_paragragh {
  color: #36366aca;
}
.article_blog_text {
  border-bottom: 1px dashed #2d2c6e4a;
}
.comments form input,
.comments form textarea {
  border: 0.1px solid #90909324 !important;
}
.comments form input:focus,
.comments form textarea:focus {
  border: 1px solid var(--blu) !important;
}
.comments form textarea:focus {
  outline: 0 !important;
}
.leve_coment_title {
  color: var(--blu);
  font-size: 22px;
}
.comments form p {
  color: #909093;
  font-size: 13px;
}
.comments form button {
  background-color: var(--but);
  color: var(--wit);
  border-radius: 25px;
  width: 160px;
  height: 50px;
}
.comments form button:hover {
  background-color: var(--blu);
}
.commints_content img {
  border-radius: 500px;
}
.commint_data h2 {
  font-size: 17px;
  color: var(--blu);
}
.commint_data {
  margin-left: -25px;
}
.commint_data p {
  color: #909093;
}
.back_to_top_button {
  position: fixed;
  right: 40px;
  bottom: 30px;
  z-index: 50000;
  border-radius: 500px;
  padding: 5px;
  background-color: #718203;
}
.back_to_top_button:hover {
  background-color: var(--but);
}
.filter_by_rating {
  color: #78788d;
  user-select: none;
}
.filter_by_rating i {
  color: rgb(245, 178, 9);
}
.form-check-input:checked {
  background-color: var(--but) !important;
  border-color: var(--but) !important;
}

.filter_by_rating .form-check-input:focus {
  border-color: #dfdfe8 !important;
}
.searech_form,
.filter_by_category .contint,
form.form_blog {
  border-bottom: 1px dashed #2d2c6e4a;
}
.procucticons i {
  padding-top: 7px !important;
}

/* ===================product page  in this page will be product detales  */
.product_page {
  background-color: var(--bg);
}
.product_same_category {
  color: var(--blu);
}
.product-show-describe {
  list-style: square;
}
.product_details_title {
  color: var(--blu);
}
.product_details,
.about_product,
.card.sidbarproduct,
.revews_title {
  border-bottom: 1px dashed #2d2c6e18 !important;
}
.Quantity_Control {
  background-color: var(--bg);
  width: 120px !important;
  display: flex;
  justify-content: space-between;
}
.Quantity_Control div {
  cursor: pointer;
  user-select: none;
  font-size: 25px;
  font-weight: 700;
}
.Quantity_Control span {
  margin-top: 5px;
}
.product_go_tocard .go_to_card_button3 {
  padding-block: 10px !important;
  border-radius: 25px !important;
  width: 180px !important;
}
@media (max-width: 530px) {
  .product_go_tocard .go_to_card_button3 {
    width: 120px !important;
    padding-inline: 0px !important;
  }
}
.revews_title h2 {
  color: var(--blu);
  text-align: center;
  font-size: 18px;
  padding-bottom: 8px;
}
.commints_content img {
  min-width: 40px !important;
}
.comment_content_text {
  word-wrap: break-word;
}
.take_rating {
  color: var(--blu);
  text-transform: capitalize;
  padding-right: 5px;
}
.takerating {
  cursor: pointer;
  user-select: none;
}
.commint_ratin_star {
  margin-top: -15px;
}
.table {
  min-width: 800px !important;
}
.table1 {
  min-width: 100% !important;
}

/* ========================== about page ================== */
.page_title {
  background-image: url(../public/assets/imges/aboutpage.png);
  width: 100vw;
  height: 85vh;
  padding-top: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  background-size: cover !important;
  overflow: hidden !important;
}
.btn-custom {
  background-color: #b4d000 !important;
  color: white !important;
  padding: 10px 40px !important;
  font-weight: bold;
  border-radius: 5px;
}
.lead {
  font-size: 14px !important;
}
.top_title {
  font-size: 14px !important;
}
.title_header {
  font-size: 55px !important;
}
@media (max-width: 400px) {
  .title_header {
    font-size: 45px !important;
  }
}
.about_us {
  /* background-image: url(../public/assets/footerimg.svg); */
  width: 100vw !important;
  min-height: 100vh !important;
  background-color: var(--wit);
}

.business-img {
  max-width: 100%;
}

.badge-custom {
  background-color: #b4d000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 20px;
  font-size: 14px;
}

.icon {
  font-size: 40px;
  color: #000066;
}
.about_section_title,
.section-title {
  color: var(--blu);
}

.feature-box {
  text-align: center;
  padding: 20px;
}
.feature-box:hover img {
  animation: movetb 1.5s infinite ease-in-out;
}

.feature-box h5 {
  margin-top: 15px;
  font-weight: medium;
  color: var(--blu);
  font-size: 18px;
}

.feature-box p {
  font-size: 12px;
  color: #666;
  max-width: 250px;
  justify-content: center;
  margin-inline: auto;
}

.check-list {
  list-style: none;
  padding-left: 0;
}

.check-list li {
  margin-bottom: 10px;
  font-size: 16px;
}

.check-list li::before {
  content: "✔";
  color: #b4d000;
  font-weight: bold;
  margin-right: 10px;
}

@keyframes movetb {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0px);
  }
}
.why_choose_us .subtitlec {
  font-size: 14px;
  max-width: 80%;
  margin-inline: auto;
  color: #666666;
}
.why_choose_us .card-body,
.why_choose_us {
  background-color: var(--bg) !important;
}
.Good_Performance-content {
  text-align: left !important;
}
.Good_Performance-content .subtitlec {
  color: #a39d9d;
  font-size: 13px;
}
.svg_vedio_icon {
  width: 60px !important;
  left: 50%;
  transform: translateY(-100%);
  transform: translateX(-50%);
  z-index: 2000;
  top: 40%;
  display: block;
  height: 60px;
  border-radius: 500px;
  background-color: #ffffff56;
  padding: 10px;
}
.What_makes_us_different {
  background-color: var(--bg);
}
.data_make_diffrence .card:hover .makediffrenceimge {
  animation: movetb 1.5s infinite ease-in-out;
}
.data_make_diffrence .card h5 {
  color: var(--blu);
}
.go_from_about_to_stor {
  text-decoration: none;
  color: var(--but);
  font-size: 15px;
}
.testimonial-card {
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  transition: transform 0.3s;
  border: 1px solid #ddd;
}

.testimonial-img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}
.stars {
  color: goldenrod;
}
.testimonial-card h6 {
  color: var(--blu);
}
.testimonial-card p {
  font-size: 14px;
}

/* ======================== contact page ================== */
.branch-card {
  text-align: left;
  padding: 20px;
  border-radius: 10px;
  background: #fff;
  border-radius: 10px !important;
}
.branch-img1 {
  background-image: url(../public/assets/imges/c1.jpg);
  width: 100% !important;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
}
.branch-img2 {
  background-image: url(../public/assets/imges/c2.jpg);
  width: 100% !important;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
}
.branch-img3 {
  background-image: url(../public/assets/imges/c3.jpg);
  width: 100% !important;
  height: 200px;
  border-radius: 10px;
  background-size: cover;
}

.badge-custom {
  background-color: var(--but);
  color: white;
  font-size: 10px !important;
  padding: 5px 10px !important;
  border-radius: 15px !important;
}
.branch-card h5 {
  color: var(--blu);
  padding-left: 10px;
}
.text-muted {
  padding-left: 10px;
}
.empty_cart {
  color: var(--but);
}
.pagedentify {
  color: var(--but);
}
.pagedentifyp {
  font-size: 13px;
}
.cartbutton1 {
  border: 1px solid gray !important;
}
.cartbutton1:hover {
  background-color: var(--but) !important;
  border: 1px solid var(--wit) !important;
  color: var(--wit) !important;
}
.cartbutton2 {
  background-color: var(--but) !important;
  border: 1px solid var(--wit) !important;
  color: var(--wit) !important;
}
.cartbutton2:hover {
  background-color: rgb(168, 5, 5) !important;
  border: 1px solid var(--wit) !important;
  color: var(--wit) !important;
}
.cartbutton3 {
  width: 100px !important;
  border: 1px solid gray !important;
}
.totalprices h2 {
  color: var(--blu);
  font-size: 20px;
}

/* --------------------- chek out page ------------- */
.chekoutpage input:focus,
.chekoutpage form select:focus {
  outline: 0 !important;
}
.chekoutpage form input,
.chekoutpage form textarea,
.chekoutpage form select,
form.totalprices input {
  border: 0.1px solid #7777983d !important;
  font-size: 12px;
}
.chekoutpage form input:focus,
.chekoutpage form textarea:focus,
.chekoutpage form select:focus,
form.totalprices input:focus {
  border: 1px solid var(--blu) !important;
}
.chekoutpage form textarea:focus,
.chekoutpage .form-check-input:focus {
  outline: 0 !important;
}
.chekoutpage .form-label,
.form-check-label {
  color: rgb(108, 108, 108);
  font-size: 13px;
}
.chekoutpage .form-check-input:checked {
  background-color: var(--but) !important;
  border-color: var(--but) !important;
}

.chekoutpage .form-check-input:focus {
  border-color: #dfdfe8 !important;
}
.chekoutpage h4 {
  color: var(--blu);
  border-bottom: 0.1px solid #7777982f !important;
  padding-bottom: 10px;
  font-weight: 300;
}
.finalorder {
  border: 3px solid var(--but);
  background-color: var(--bg);
}
form.totalprices input {
  height: 36px !important;
}
form.totalprices button {
  height: 36px !important;
}
.custom-toast-container {
  z-index: 500000 !important;
}
.productToust {
  background-color: var(--but) !important;
  color: var(--wit) !important;
  box-shadow: none !important;
}
.dringbut {
  cursor: pointer;
}
.arrowbutton {
  width: 40px !important;
  height: 40px;
  border-radius: 500px;
  background-color: #71820359;
  color: #ffffff93;
  text-align: center !important;
  padding: 5px !important;
  position: absolute;
  display: none;
}
.arrowbutton:hover {
  background-color: var(--but);
  color: var(--wit);
}
.arrowbutton.pre {
  left: 4.5%;
  margin-top: 200px;
  z-index: 50000000000000000;
}
.arrowbutton.nex {
  right: 4.5%;
  margin-top: 200px;
  z-index: 5;
}
.productslider1:hover .arrowbutton.nex {
  right: 6.5% !important;
  display: block;
}
.productslider1:hover .arrowbutton.pre {
  left: 6.5% !important;
  display: block;
}
.productslider2 .arrowbutton {
  margin-top: 250px;
}
.productslider3 .arrowbutton {
  margin-top: 310px;
}
@media (max-width: 700px) {
  .productslider1:hover .arrowbutton.nex {
    right: 8% !important;
  }
  .productslider3 .arrowbutton {
    display: none !important;
  }
}
@media (max-width: 500px) {
  .productslider2 .arrowbutton {
    margin-top: 330px;
  }
}
.productslider3:hover .arrowbutton.pre {
  left: 4.5% !important;
  display: block;
}
.iframegy1 {
  min-height: 600px !important;
}
.locationScroll {
  height: 87vh;
}
.locationScroll::-webkit-scrollbar {
  width: 10px;
}
.locationScroll::-webkit-scrollbar-thumb {
  background-color: var(--but);
}
.card-title {
  color: var(--blu) !important;
  cursor: pointer;
}
.card-title:hover {
  color: var(--but) !important;
}
.locationtext {
  color: #666 !important;
}
.Locator {
  color: var(--blu) !important;
}
.tohomelinkfromlocator {
  color: rgb(164, 164, 194) !important;
}
.locationScroll::-webkit-scrollbar-track {
  background-color: var(--bg);
}
.locationScroll {
  border: 1px solid var(--bg);
  padding-block: 10px;
}
table.table1 tr {
  background-color: var(--bg) !important;
}
.accordion button {
  background-color: var(--bg);
}
.accordion-button:not(.collapsed) {
  outline: 0 !important;
  border: 0 !important;
  background-color: var(--bg) !important;
}
button:focus:not(:focus-visible) {
  box-shadow: none !important;
}
.accordion .accordion-body {
  background-color: var(--bg);
}
.orderfinalbutton {
  background-color: var(--but) !important;
  color: var(--wit) !important;
}
.orderfinalbutton:hover {
  background-color: var(--blu) !important;
  color: var(--wit) !important;
}
.chekoutpage .table > :not(caption) > * > * {
  background-color: var(--bg) !important;
}
.go_to_card_button3.go_to_card_button33 {
  width: 190px !important;
  padding-inline: 0px !important;
}
@media (max-width: 530px) {
  .go_to_card_button3.go_to_card_button33 {
    width: 120px !important;
    padding-inline: 5px !important;
  }
}
